:root {
  /* Цвет шрифта*/
  --gray-text-color: #757575;
  --black-text-color: #212121;
  --select-color: #2196f3;
  --select-color-09: rgba(33, 150, 243, 0.9);
  --white-text-color: #ffffff;
  --footer-mail-phone: rgba(255, 255, 255, 0.6);
  --white-color-06: rgba(255, 255, 255, 0.6);
  /* Цвет фона, кнопок ... */
  --header-border-line: #ececec;
  --background-hero-footer: #2f303a;
  --background-team: #f5f4fa;
  --background-button: #f5f4fa;
  --background-project-list: #ffffff;
  --border-project-list: #eeeeee;
  --gray-icon-customer: #afb1b8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

/* Обнуление некоторых стилей */
h1,
h2,
h3,
p,
ul,
li {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

/* Эталонный контейнер */
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

/* Контейнер шапки */
.page-header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.head-container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav-list,
.nav-contacts-list,
.header-nav {
  display: flex;
  align-items: center;
}

.nav-list li:not(:first-child) {
  margin-left: 50px;
}

.nav-contacts-list li:last-child {
  margin-left: 50px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-web,
.logo-web-footer,
.logo-studio-black {
  font-family: 'Raleway', sans-serif;
}

.logo-web,
.logo-web-footer {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--select-color);
}

.logo-web {
  margin-right: 93px;
}

.logo-studio-black {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-text-color);
}

.nav-menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-text-color);
  position: relative;
}

.nav-menu.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--select-color);
  position: absolute;
  margin-top: 28.5px;
}

.nav-contacts-mail,
.nav-contacts-phone {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--gray-text-color);
}

/* .nav-contacts-mail::before {
  content: '';
  width: 16px;
  height: 12px;
  background-color: red;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/icons/email.svg);
  margin-right: 10px;
}

.nav-contacts-phone::before {
  content: '';
  width: 10px;
  height: 16px;
  background-color: red;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/icons/smartphone.svg);
  margin-right: 10px;
} */

.nav-menu:hover,
.nav-menu:focus,
.nav-contacts-mail:hover,
.nav-contacts-mail:focus,
.nav-contacts-phone:hover,
.nav-contacts-phone:focus
/* .nav-contacts::before:hover { */ {
  color: var(--select-color);
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .nav-contacts-mail:hover::before {
  background-image: url(../images/icons/email-selected2.svg);
  background-repeat: no-repeat;
  align-items: center;
}

.nav-contacts-phone:hover::before {
  background-image: url(../images/icons/smartphone-selected.svg);
  background-repeat: no-repeat;
  align-items: center;
} */

.head-container {
  display: flex;
  justify-content: space-between;
}

.nav-menu.current {
  color: var(--select-color);
}

.logo-studio-white {
  color: var(--white-text-color);
}

/* Hero */

.hero {
  background-color: var(--background-hero-footer);
  background-image: linear-gradient(rgba(0, 0, 0, 40%), rgba(0, 0, 0, 40%)),
    url(../images/background/background-hero.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-link {
  display: inline-block;
  min-width: 200px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--select-color);
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Модальное окно */
.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* кнопка закрытия модального окна */
.modal-close-button {
  object-position: center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  outline: none;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover {
  /* border-color: var(--select-color); */
  fill: var(--select-color);
}

.form-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 12px;
  color: #212121;
}

.modal-form-box {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.modal-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 14px;
  /* letter-spacing: 0.01em; */
  color: var(--gray-text-color);
}

.input-field {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-cont:hover .input-field,
.input-field:focus {
  cursor: pointer;
  border: 1px solid var(--select-color);
  fill: var(--select-color);
  outline: none;
}

.text {
  display: inline-block;
  width: 100%;
}

.input-cont:hover .modal-field-icon {
  fill: var(--select-color);
}

.input-cont {
  position: relative;
}

.input-cont:focus-within > .modal-field-icon {
  fill: var(--select-color);
}

.modal-field-icon {
  position: absolute;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-field-label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--gray-text-color);
  margin-bottom: 4px;
}

.textarea {
  height: 120px;
  margin: 0px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:hover,
.textarea:focus {
  cursor: pointer;
  border: 1px solid var(--select-color);
  fill: var(--select-color);
  outline: none;
}

.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.policy,
.policy-link {
  display: flex;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--gray-text-color);
  align-items: center;
  justify-content: center;
}

.policy-link {
  margin-left: 4px;
}

.checkbox {
  display: flex;
  appearance: none;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 1.75px solid var(--black-text-color);
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:hover + .checkbox-icon,
.checkbox:focus + .checkbox-icon {
  border: 1.75px solid var(--select-color);
}

.checkbox:checked + .checkbox-icon {
  background: var(--select-color);
  border: 1.75px solid var(--select-color);
  background-image: url(../images/icons/check-box.svg);
  background-size: contain;
  background-origin: border-box;
}

.policy-cont {
  display: inline-flexbox;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  justify-content: center;
}

.policy-link {
  color: var(--select-color);
  text-decoration-line: underline;
}

.send-button-cont {
  text-align: center;
}

.send-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--select-color);
  color: var(--white-text-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover,
.send-button:focus {
  outline: none;
  cursor: pointer;
  border: 1.5px solid black;
}

/* Наши принципы */

.hero-link:hover,
.hero-link:focus {
  border: none;
  outline: none;
  background-color: var(--white-text-color);
  color: var(--select-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tenet {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 94px;
  padding-bottom: 94px;
  color: var(--gray-text-color);
}

.tenet-list {
  display: flex;
}

.tenet-list .tenet-list-items {
  width: 270px;
}

.tenet-list .tenet-list-items:not(:last-child) {
  margin-right: 30px;
}

.tenet-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--background-team);
  margin-bottom: 30px;
}
.tenet-title {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-text-color);
  margin-bottom: 10px;
}

.tenet-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Чем мы занимаемся */

.activities {
  padding-bottom: 94px;
}

.activities-photos {
  display: flex;
  justify-content: space-between;
}

.activities-img {
  display: block;
}

.activities-title,
.team-title,
.clients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text-color);
  margin-bottom: 50px;
}

.photos-block {
  position: relative;
}

.photos-block-desctiption {
  text-align: center;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--white-text-color);
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* Команда */
.team {
  background-color: var(--background-team);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: -30px;
}

.team-unit {
  display: block;
  width: calc(1170 - 90) / 4;
  background: var(--background-project-list);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.team-unit-img {
  display: block;
}

.team-unit:nth-child(4n) {
  margin-right: 0px;
}

.team-descripion-block {
  padding-top: 30px;
  padding-left: 59px;
  padding-right: 59px;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-text-color);
  margin-bottom: 10px;
}

.team-position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--gray-text-color);
}

.social-icons {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  color: var(--gray-icon-customer);
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link,
.footer-social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--white-text-color);
}

.social-icons-link:hover,
.footer-social-icons-link:hover,
.social-icons-link:focus,
.footer-social-icons-link:focus {
  background-color: var(--select-color);
  color: var(--white-text-color);
  outline: none;
  transition: background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-svg {
  fill: currentColor;
}

/* Клиенты */

.clients {
  display: block;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--gray-icon-customer);
  border-radius: 4px;
  color: var(--gray-icon-customer);
}

.client-link:hover {
  border: 1px solid var(--select-color);
  color: var(--select-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 1px var(--select-color);
  color: var(--select-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.client-icon {
  fill: currentColor;
}

.client-icon:hover {
  fill: currentColor;
}

.mail-icon {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.phone-icon {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.page-header {
  border-bottom: 1px solid var(--header-border-line);
}

.logo-studio-white {
  color: var(--white-text-color);
}

/* Потфолио */

.portfolio-container {
  padding: 94px 0;
}

/* Кнопки */
.buttons {
  background: var(--background-button);
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text-color);
  padding: 6px 22px;
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

.portfolio-buttons .buttons-items:not(:last-child) {
  margin-right: 8px;
}

.buttons:hover,
.buttons:focus {
  background: var(--select-color);
  color: var(--white-text-color);
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu.current {
  color: var(--select-color);
}

/* Portfolio */

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-list-item {
  background: var(background-project-list);
  border: 1px solid var(--border-project-list);
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-list-item:hover .project-overlay {
  opacity: 1;
  transform: translateY(0);
}

.project-thumb {
  position: relative;
  width: 368px;
  height: 294px;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--select-color-09);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.project-section-text {
  display: inline-block;
  position: absolute;
  font-size: 18px;
  line-height: 28px;
  color: var(--white-text-color);
  letter-spacing: 0.03em;
  padding: 63px 24px;
}

.project-list-item:nth-child(3n) {
  margin-right: 0;
}

.project-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-list-item:hover,
.project-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-img {
  display: inline-block;
}

.project-details-container {
  padding: 20px 24px;
}
.project-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-text-color);
  margin-bottom: 4px;
}

.project-type {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--gray-text-color);
}

/* footer */

.footer-main {
  background: var(--background-hero-footer);
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
}

.logo-web-footer {
  margin-bottom: 20;
}

.footer-container {
  display: flex;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  /* outline: 1px solid red; */
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-addres {
  padding-right: 85px;
}

.join-us {
  margin-right: 93px;
}

.join-us-title,
.subscription-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.address-block {
  margin-top: 20px;
}

.footer-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}
.footer-address-list li {
  margin-top: 9px;
}

/* Стили Footer link */
.footer-mail,
.footer-phone {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-mail-phone);
}

.footer-social-icons {
  display: flex;
  /* margin-top: 20px; */
}

.footer-social-icons-link {
  background: rgba(255, 255, 255, 0.1);
}

.footer-email-input {
  display: inline;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  margin-right: 12px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--white-color-06);
  background-color: var(--background-hero-footer);
  outline: none;
}

.footer-email-input::placeholder {
  color: var(--white-color-06);
}

.subscreption-form {
  display: flex;
}

.subscribe-button {
  display: flex;
  width: 200px;
  justify-content: center;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--select-color);
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  fill: currentColor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-icon {
  margin-left: 10px;
}

.subscribe-button:focus,
.subscribe-button:hover {
  background-color: var(--white-text-color);
  color: var(--select-color);
  fill: currentColor;
}
